<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/wines/new/">New Wines</a>
    <a href="/wines">All The Wines</a>
  </body>
</html>
