
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <h1><%= title %></h1>
    <a href="/wines/new/">NEW WINE</a>
    <a href="/wines">ALL THE WINES</a>
    </nav>
  </body>
</html>